.divi {
  position: absolute;
  top: 18%;
  right: 5%;
  width: 500px;
}

.form-size {
  background-color: #7c8a9f;
  border-radius: 16px;
  height: 450px;
  right: 60px;
  padding: 22px;  
  margin-bottom: 10%;
  overflow: hidden;
  background-image: url(C:\Users\sruthi\OneDrive\Desktop\test\khub_aug_practice\frontend\src\components\database.png);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 2%;
  background-position-y:42px ;
}

.divi .form-size h1.type-text {
  position: absolute;
  top: 15%;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.heading{
  position: absolute;
  top:2%;
  left:9%;
  
}

@media (max-width: 762px) {
  .divi{
    flex-direction: column;
    justify-content: last baseline;
  }
  .form-size{
    margin: 10%;
    margin-top: 25%;
  }
}