.form {
  height: 400px;
  width: 300px;
}

.form .form-size {
  background-color: #7c8a9f;
  border-radius: 16px;
  height: 570px;
  right: 60px;
  padding: 22px;
  position: fixed;
  top: 18%;
  width: 500px;
  overflow: hidden;
  background-image: url(C:\Users\sruthi\OneDrive\Desktop\test\khub_aug_practice\frontend\src\components\database.png);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 2%;
  background-position-y:42px ;
}

.form .form-size h1.type-text {
  position: absolute;
  top: 15%;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.heading{
  position: absolute;
  top:2%;
  left:9%;
  
}